h1 {
  font-size: 60px;
  font-weight: bolder;
  color: red;
  text-align: center;
}

h2 {
  font-size: 50px;
  color: grey;
  text-align: center;
  line-height: 20px;
}

p {
  font-size: 20px;
  color: blue;
  text-align: center;
  font-family: fantasy;
}

ul {
  font-size: 20px;
  font-style: oblique;
  color: brown;
}
